/* Author:Aniket Roy Choudhury */
/* In this css file I have added the navigation bar of the site and its styling attributes */
.navbar-brand{
    color:white;
    font-size: 30px;
}
.btn{
    margin-left: 10px;
}
