/* Author:Anshuman Singh */
/* In this css file I have added the background image of the site and its styling attributes */
.layout-container{
    background-image: url("../../assets/images/ibg.jpg");
    background-size: cover;
    min-width: 900px;
    min-height: 900px;
    background-attachment: fixed;  
    background-position: center;

  }